@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


body
{
    background-color: rgb(245,243,242);
    padding: 0px 0px 0px 0px;
    margin: 0px;
    margin-bottom:0px;
}

#logo_transparent{
    height: 70px;
    margin-top: 0;
    padding-top: 0px;
}

a
{
    text-decoration: none;
    color: black;
}

.title
{
	font-family: monospace;
	color: white;
    font-size: 1.2em;
    background-color: rgb(153, 153, 153);
}

li.title{
    padding: 0;
}

#footer
{
    width: 100%;
    text-align: center;
    font-family: "Alata", Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
    background-color: rgb(120,120,120);
    color: white;
    margin-bottom:0px;
    z-index: 0;
    position: absolute;
    padding-bottom:20px;
    padding-top:25px;
}

.kontakt
{
    height:35px;
    margin-top:30px;
    margin-bottom:10px;
    float:center;
    margin-left:25px;
    margin-right:25px;
}

#tyt_art
{
    margin-left: 18%;
    margin-right: 18%;
    font-size: x-large;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#author
{
    margin-left: 20%;
    margin-right: 20%;
    height: auto;
    margin-bottom: 10px;
}

#author_photo{
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 0;
    padding-left: 0%;
    vertical-align: middle;
}

#about_author{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 0%;
    padding-top: 3%;
}

#author_name{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 0%;
}

#author_description
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 0;
}

#author_text{
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    height: auto;
}

#tyt_art {
    margin-left: 0px;
    margin-right: 0px;
}
#artykuł{
    margin-left: 5px;
    margin-right: 5px;
    font-size: large;
    line-height: 1.4em;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.title:hover {
    background-color: rgb(100,100,100);
    color: white;
}

ul 
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: gray;
	position: fixed;
    top:0;
	width: 100%;
	z-index: 1;
    height: 50px;
}
  
  li
{
    float: initial;
    font-size:1.8em;
    font-family: "Alata", Arial, Helvetica, sans-serif;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
  
  li:hover
{
	background-color: #111;
}
			
#main_text
{
    font-family: "Alata", Arial, Helvetica, sans-serif;
    font-size: 550%;
    margin-bottom: 15px;
    z-index: -1;
    color: black;
    text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -2px white;
}

#main_text_white
{
    font-family: "Alata", Arial, Helvetica, sans-serif;
    font-size: 550%;
    margin-bottom: 15px;
    z-index: -1;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#second_text
{
    font-family: "Alata", Arial, Helvetica, sans-serif;
    font-size: 55px;
    margin-top: 0;
    z-index: -1;
    margin-bottom: 15px;
    text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -2px white;
}

#textabc
{
    font-size: 20px;
    font-family: "Arial";
}


#second_text_white
{
    font-family: "Alata", Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-top: 0;
    z-index: -1;
    margin-bottom: 15px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#third_text
{
    font-family: "Alata", Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 25px;
    margin-top: 0;
    z-index: -1;
}

#welcome
{
    position: absolute;
    left: 5%;
    top: 25%;
    z-index: 0;
}

#main_newspaper
{
    object-fit: cover;
	width: 100%;
    height: 100%;
}

.thumbnail-col1
{
    float: left;
    width: 100%;
    z-index:0;
}

.column:after
{
    content: "";
    display: table;
    clear: both;
}

.thumbnail-col2
{
    float: left;
    width: 100%;
    z-index:0;
}

.thumbnail-col3
{
    float: left;
    width: 100%;
    z-index:0;
}
			
.thumbnail_photo
{
    object-fit: cover;
    width: 25%;
    float: left;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 7%;
    border-radius: 25px;
}

.thumbnail_title
{
    font-size: 180%;
    /*font-family: 'IBM Plex Sans', sans-serif; */
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    width: 55%;
    float: left;
}

.thumbnail_title:hover
{
    text-decoration: underline;
    text-decoration-color: grey;
}

.cat_teaser
{
    font-family: "Alata", Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-align: center;
    width: auto;
    margin-top: 4%;
    margin-bottom: 0em;
    text-decoration: underline;
    text-decoration-color: grey;
}

#main_part
{
    z-index:0;
    width: auto;
    font-family: sans-serif;
    padding: 15px;
    padding-left: 30px;
    margin-top:15px;
}

#thumbnail-section
{
    overflow: auto;
}

#sec_title
{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-decoration-color: grey;
    font-size: 50px;
    text-align: left;
    padding:0px;
    margin-bottom:10px;
    margin-left:30px;
}

#sec_com
{
    margin-left:40px;
    margin-top: 25px;
    font-size: 18px;
    font-family: sans-serif;
}

.link
{
    color:grey;
    text-decoration:underline;
}

.link:hover
{
    color:blue;
}

.img-subtitle
{
    font-size:0.8em;
    float:bottom;
    margin-left:8px;
    margin-top:8px;
}

#scroll{
    right:0px;
    top:0px;
    z-index:2;
    position: fixed;
    padding: 30px;
    display: initial;
}

#scroll_picture {
    right: 10px;
    height: 20px;
}

#menu_option{
    display: none;
}

.thumbnail-a{
    display: flex;
    align-items:center;
    border-bottom: 1px solid #80808087;
}


@media only screen and (min-width: 1100px) {
    li{
        float: left;
        font-size:1.2em;
    }

    #scroll{
        display: none;
    }

    #menu_option{
        display: initial;
    }

    .thumbnail-col1{
        width: 33%;
    }
    .thumbnail-col2{
        width: 33%;
    }
    .thumbnail-col3{
        width: 33%;
    }


    .thumbnail_photo
    {
    width: 90%;
    float: initial;
    display: block;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    }

    .thumbnail_title
    {
    font-size: 150%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    text-align: center;
    width: auto;
    float: initial;
    padding-top: 0;
    padding-bottom: 0;
    }

    #logo_transparent
    {
    height: 54px;
    }

    .thumbnail-a{
        display: block;
        align-items:initial;
        border: none;
    }

    ul{
        height: 50px;
    }
    #artykuł
    {
        margin-left: 20%;
        margin-right: 20%;
    }
    #tyt_art {
        margin-left: 10%;
        margin-right: 10%;
    }
}


ul{
    height: auto;
}




/*
@media only screen and (max-width: 1000px){
    body{
        background-color: "blue";
    }
}*/
