#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link{
    color: white;
}

#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover{
    color: white;
}

#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus{
    color: white;
}

.nav-link:focus{
    color: orange;
}

.nav-item > a:hover{
    color: orange;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active{
    color: white !important;
}

#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover, #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover{
    color: white;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link.active, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active {
    color: white!important;
}

#mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus{
    color: white;
}

@media (min-width: 992px){
    #mainNav .navbar-nav>li.nav-item>a.nav-link, #mainNav .navbar-nav>li.nav-item>a.nav-link:focus {
        color: white;
    }
}

a, a:hover{
    color: initial;
}

.newsletter8 .btn-danger-gradiant{
    background-color: #EE4B28 !important;
    background: #EE4B28 !important;
}

.snip1527 figcaption:before{
    background-color: #EE4B28 !important;
    background: #EE4B28 !important;
}

.team-boxed .people {
    padding: 50px 0 0 !important;
}

#row-opinions{
    margin-right: auto;
    margin-left: auto;
}

.news-font-section{
    text-align: center;
}

.news-font-section h5{
    text-align: left;
}

.news-font-section p{
    text-align: left;
}
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

.flex-textbox{
    width: 100%; 
    max-width: 100%; 
    flex: 0 0 100%;
    padding-left: 20px;
    /*padding-top: 80px; */
    font-family: 'Open Sans';
    padding-top: 20px;
}

.flex-textbox p{
    font-family: 'Crimson Text', serif !important;
    margin-bottom: 0px;
}

.flex-textbox-img{
    width: 100%; 
    border-right: 3px solid gray; 
    border-radius: 0px; 
    flex: 0 0 100%; 
    max-width: 100%;
}

#text-flexbox-title{
    margin-left: 15px;
    margin-right: 15px;
}

@media (min-width: 992px){
    .flex-textbox-img{
        flex: 0 0 50%; 
        max-width: 50%;
    }

    .flex-textbox{
        flex: 0 0 50%; 
        max-width: 50%;
        padding-top: initial;
    }

    #text-flexbox-title{
        margin-left: initial;
        margin-right: initial;
    }
}

.snip1527 figcaption{
    width: 100%;
}


@media (min-width: 992px){
    #opinie .col-lg-4 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 1200px){
    #opinie .col-lg-4 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 992px){
    #opinie .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 720px;
    }
}

@media (min-width: 1200px){
    #opinie .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
}
