body
{
    font-family: arial, sans-serif;
    background-color: smokegray;
    width: 100%;
}
#title
{
    font-size: 2.5em;
    margin-left: 5%;
    margin-top: 12px;
    text-decoration: underline;
}
#options
{
    color: black;
    font-size:1.5em;
    position: absolute;
    top: 10px;
    right:20%;
}
#profile
{
    color: black;
    font-size:1.5em;
    position: absolute;
    top: 10px;
    left:90%;
}
#prof-pic
{
    font-size:1.5em;
    position: absolute;
    top: 28px;
    left:86%;
    border-radius: 50%;
    width: 35px;
}
#menu-gora
{
    background-color: rgb(110, 200, 250);
    margin-top: -10px;
    padding-top: 10px;
    margin-right: -10px;
    padding-right: 10px;
    margin-left: -10px;
    padding-left: 10px;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

#chat_info
{
    margin-left: 5%;
    margin-top: 20px;
}
#your_message
{
    margin-left:5%;
    margin-top:10px;
    font-family: Arial, sans-serif;
    font-size:18px;
    width:80%;
    padding-right:5%;
}
#cochatters_message
{
    margin-left:5%;
    margin-top:20px;
    font-family: Arial, sans-serif;
    font-size:18px;
    width:80%;
    padding-right:5%;
}
#messages
{
    width:65%;
    border-right: 2px solid black;
}
.button
{
    font-size:1em;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:6%;
    float: bottom;
}

#menu
{
}

#footer
{
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    position: relative;
    background-color: gray;
    color: white;
    z-index: 0;
    position: absolute;
    margin-left: -10px;
    padding-left: 10px;
    margin-top: 25px;
    padding-top:25px;
    padding-bottom:20px;
    padding-right: 10px;
}
